body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}

#container{
    border: 1px red solid;
    height: 500px;
    width: 80%; 
    margin: 0 auto;
}

#blocCitation{
    /* border: green 1px solid;
    height: 400px;
    width: auto; */
}

#citation{
    /* border: blue 1px solid;
    height: 300px;
    width: auto; */
}

#auteur{
    /* border: purple 1px solid;
    height: 200px;
    width: auto; */
}

#btn{
    border: black 1px solid;
    height: 30px;
    width: 300px;
    text-align: center;
    padding: 35px;
}